.aboutMe{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 10%;
    align-self: center;
}

.card{
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1.3fr 2fr;
    box-shadow: 10px 10px 0px #FFE03A;
    border-radius: 10px;

}


.foto{
    background-color: #181818;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 10px 0px 0px 10px ;
    
}

.foto .infos{
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    color: #c4c4c4;
    gap: 8px;

}

.foto .buttons{
    margin: auto 0px;
    display: flex;
    justify-content: start;
    gap: 20px;
}

.buttons img{
    max-width: 50px;
    background-color: #FFE03A;
    border-radius: 5px !important;
    padding: 7px;
}

.foto img{
    border-radius: 13px;
}

/*Area do texto*/

.destaque{
    color: #FFE03A;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.subtitle{
    font-size: 1rem;
    font-weight: 600;
}


.text{
    color: #acacac;
    padding: 25px;
    background-color: #0E0E0E;
    border-radius: 0px 10px 10px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text h1{
    font-size: 2.5rem;
    font-weight: normal;
}

.text p{
    margin-top: 1.5rem;
    font-size: 1.3rem;
}

.preencher{              
    background-color: #FFE03A; 
    border-radius: 10px; 
    height: 40%;
}                           


@media (max-width: 900px) {
    .card {
        grid-template-columns: 1fr;
    }

    .aboutMe{
        padding: 0px 15%;
    }

    .foto{
        border-radius: 10px 10px 0px 0px ;
    }

    .text{
        border-radius: 0px 0px 10px 10px ;
    }

}

@media (max-width: 660px) {
    .buttons img{
        width: 50px;
    }

    .text h1, .text h1 span{
        font-size: 2.2rem;
        margin-bottom: 10px;
    }

    .text span{
        font-size: 1rem;
    }

    .text p{
        font-size: 1.1rem;
    }
}

@media (max-width: 500px) {
    .card{
        box-shadow: none;
    }
    .aboutMe{
        padding: 0px 5%;
    }
}

@media (max-width: 300px) {

    .buttons img{
        max-width: 40px;
        background-color: #FFE03A;
        border-radius: 5px !important;
        padding: 7px;
    }
}