
.container{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 1000px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
}

.title{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 2rem;
  margin-bottom: 50px;
  align-items: center;
  gap: 10px;
}

.title h1{
    white-space: nowrap;
}

.row{
    position: relative;
}

.row span{
    position: absolute;
    width: 100%;
    background-color: #ffd900;
    height: 5px;
}


.listProject{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.listProject p{
    color: #d5d5d5;
    max-width: 700px;
}

.listProject li{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.listProject img{
    border-radius: 10px;
    max-width: 500px;
}

@media (max-width: 670px) {
    .title h1{
        white-space: nowrap;
    }
    .title{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 615px) {
    .title{
        font-size: 1.5rem;
    }

    .listProject img{
        max-width: 100%;
    }
}


@media (max-width: 470px) {
    .title{
        font-size: 1.2rem;
    }

    .listProject h1{
        font-size: 1.4rem;
    }

}

@media (max-width: 385px) {
    .title{
        font-size: 1rem;
    }



}