/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
  }
  
  /* Estilos globais */
  body, html {
    margin: 0;
    padding: 0;
  }

  ul,li{
    list-style: none;
    text-decoration: none;
  }

  img{
    max-width: 100%;
    display: block;
  }

body{
    background-color: #000;
    color: #fff;
    font-weight: 400;
    font-style: normal;
}

.listSection{
  display: flex;
  flex-direction: column;
  gap: 100px;
}


.button{
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #ffd900;
  color: #262000;
  text-decoration: none;
  border-radius: 10px;
}




